.body{
    padding:16px;
    margin: 0%;
}

.cabeçalho{

    background-color: black;
    margin: 5%;
    padding: 10px;
    text-align: center;
    color: white;
}

.informações{

    background-color: azure;
    padding: 10px;
    margin: 5%;
    text-align: center;

}

.informações-titulo{
    text-align: center;
}

.informações-texto{
    text-align:justify;
}
.informações-2-titulo2{
    text-align: center;
}
.informações-titulo{
    text-align: center;
}

.informações-2{
    padding: 10px;
    margin: 5%;
    
}
.informações-2-texto2{
    text-align: justify;
}

.rodapé{
    background-color: black;
    color: azure;
    padding: 10px;
    margin: 5%;
}


